psutil==7.0.0
pettingzoo==1.25.0
metaworld==3.0.0
simplejson==3.20.1
tqdm==4.67.1
asttokens==3.0.0
fsspec==2025.3.0
rpds-py==0.26.0
nvidia-nccl-cu12==2.28.3
xdg==6.0.0
msgpack==1.1.1
grpcio==1.74.0
pydantic_core==2.33.2
pandas==2.3.1
blinker==1.9.0
orbax-checkpoint==0.11.25
Pygments==2.19.2
ml_collections==1.1.0
flask-cors==6.0.1
click==8.2.1
nvidia-cudnn-cu12==9.13.1.26
mercantile==1.2.1
opt_einsum==3.4.0
vega-datasets==0.9.0
ipython_pygments_lexers==1.1.1
annotated-types==0.7.0
Werkzeug==3.1.3
idna==3.10
nvidia-cuda-cupti-cu12==12.9.79
dm-tree==0.1.9
tensorboard-data-server==0.7.2
array_record==0.7.2
nvidia-cuda-nvcc-cu12==12.9.86
pycparser==2.22
traitlets==5.14.3
six==1.17.0
tyro==0.9.27
comm==0.2.2
sentry-sdk==2.34.1
anyio==4.10.0
mujoco==3.3.7.dev813819040
cycler==0.12.1
nvidia-cublas-cu12==12.9.1.4
dill==0.3.8
propcache==0.3.2
prompt_toolkit==3.0.50
certifi==2025.8.3
ml_dtypes==0.5.3
datasets==4.0.0
charset-normalizer==3.4.2
typeguard==4.4.4
jax-cuda12-pjrt==0.7.2
h11==0.16.0
nvidia-cufft-cu12==11.4.1.4
matplotlib-inline==0.1.7
optax==0.2.6.dev0
pillow==11.3.0
treescope==0.1.9
matplotlib==3.10.1
hf-xet==1.1.7
markdown-it-py==3.0.0
pure_eval==0.2.3
importlib_resources==6.5.2
nvidia-nvshmem-cu12==3.4.5
jax==0.7.2
xxhash==3.5.0
trimesh==4.7.1
humanize==4.12.3
continual_learning==0.1.0
altair==5.5.0
itsdangerous==2.2.0
chex==0.1.90
multidict==6.6.3
wrapt==1.17.2
more-itertools==10.7.0
contourpy==1.3.1
jaxopt==0.8.5
nvidia-cusparse-cu12==12.5.10.65
tzdata==2025.2
polars==1.32.0
playground==0.0.5
typing_extensions==4.14.1
protobuf==6.31.1
tomlkit==0.13.3
pydantic==2.11.7
grain==0.2.11
altair_tiles==0.4.0
stack-data==0.6.3
beartype==0.21.0
lxml==6.0.1
jaxlib==0.7.2
anywidget==0.9.18
wadler_lindig==0.1.7
docstring_parser==0.17.0
aiosignal==1.4.0
nvidia-cuda-nvrtc-cu12==12.9.86
nvidia-cuda-runtime-cu12==12.9.79
pexpect==4.9.0
ipython==9.0.2
nvidia-cusolver-cu12==11.7.5.82
kiwisolver==1.4.8
gymnasium-robotics==1.4.1
nest-asyncio==1.6.0
arro3-core==0.4.6
pyarrow==21.0.0
referencing==0.36.2
gitdb==4.0.12
attrs==25.3.0
MarkupSafe==3.0.2
httpcore==1.0.9
ptyprocess==0.7.0
pyparsing==3.2.3
aiohttp==3.12.15
tensorstore==0.1.76
dunamai==1.25.0
flax==0.11.0
Flask==3.1.1
smmap==5.0.2
toml==0.10.2
vegafusion==2.0.2
aiofiles==24.1.0
GitPython==3.1.45
python-barcode==0.15.1
dm_pix==0.4.4
multiprocess==0.70.16
numpy==2.3.3
Jinja2==3.1.6
cryptography==44.0.3
qrcode==8.2
gymnasium==1.2.0
jsonschema-specifications==2025.4.1
brax==0.13.0
platformdirs==4.3.8
wcwidth==0.2.13
jax-cuda12-plugin==0.7.2
tensorboardX==2.6.4
parso==0.8.4
shtab==1.7.2
mediapy==1.2.4
ipywidgets==8.1.5
decorator==5.2.1
poetry-dynamic-versioning==1.9.1
sniffio==1.3.1
executing==2.2.0
PyYAML==6.0.2
yarl==1.20.1
filelock==3.18.0
toolz==1.0.0
nvidia-nvjitlink-cu12==12.9.86
widgetsnbextension==4.0.13
narwhals==2.0.1
python-dateutil==2.9.0.post0
xyzservices==2025.1.0
urllib3==2.2.3
Farama-Notifications==0.0.4
httpx==0.28.1
jsonschema==4.25.0
frozenlist==1.7.0
wandb==0.21.0
psygnal==0.12.0
argcomplete==3.5.1
absl-py==2.3.1
vl-convert-python==1.8.0
mdurl==0.1.2
etils==1.13.0
opencv-python==4.11.0.86
glfw==2.9.0
borb==2.1.25
jupyterlab_widgets==3.0.13
jedi==0.19.2
warp-lang==1.9.1
requests==2.32.4
gast==0.6.0
aiohappyeyeballs==2.6.1
cffi==1.17.1
tensorboard==2.20.0
packaging==25.0
mtrl==0.1.0
fonttools==4.59.1
scipy==1.16.2
PyOpenGL==3.1.9
mujoco-mjx==3.3.7
huggingface-hub==0.34.3
pytz==2025.2
zipp==3.23.0
distrax==0.1.5
typing-inspection==0.4.1
curlify==2.2.1
rich==14.1.0
imageio==2.37.0
setproctitle==1.3.5
setuptools==80.9.0
docker-pycreds==0.4.0
jaxtyping==0.3.2
cloudpickle==3.1.1
Markdown==3.8.2
tensorflow-probability==0.25.0
